<mat-nav-list>
    <a mat-list-item routerLink="/admin">
        <mat-icon>
            insert_chart_outlined
        </mat-icon>
        <span class="nav-link">Dashboard</span>
    </a>
    <!-- SOLO SI ES SUPERADMIN (entiendo) -->
    <a mat-list-item *ngIf="isLogged && (userRol == '0' || userRol == '1') " routerLink="admin/users">
        <mat-icon>
            people
        </mat-icon>
        <span class="nav-link">Usuarios</span>
    </a>
    <a mat-list-item *ngIf="isLogged && userRol == '0' " routerLink="admin/users">
        <mat-icon>
            agriculture
        </mat-icon>
        <span class="nav-link">Granjas</span>
    </a>
    <a mat-list-item *ngIf="isLogged && userRol == '1' " routerLink="admin/users">
        <mat-icon>
            agriculture
        </mat-icon>
        <span class="nav-link">Mi granja</span>
    </a>
    <a mat-list-item *ngIf="isLogged && (userRol == '0'|| userRol == '1'|| userRol =='2') " routerLink="admin/graphs">
        <mat-icon>
            trending_up
        </mat-icon>
        <span class="nav-link">Gráficos</span>
    </a>
    <a mat-list-item *ngIf="isLogged && (userRol == '0'|| userRol == '1'|| userRol =='2') " routerLink="alertas">
        <mat-icon>
            announcement
        </mat-icon>
        <span class="nav-link">Alertas</span>
    </a>
<!--     <a mat-list-item *ngIf="isLogged && (userRol == '0'|| userRol == '1'|| userRol =='2') " routerLink="admin/prueba">
        <mat-icon>
            trending_up
        </mat-icon>
        <span class="nav-link">Prueba</span>
    </a> -->

</mat-nav-list> 
