<mat-toolbar color="primary">
    <!-- Titulo -->
    <a mat-mini-fab routerLink="/">TFG</a>
    <!-- Menu si esta logado -->
    <ng-container>
        <button mat-icon-button *ngIf="isLogged;" (click)="onToggleSidenav()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
    </ng-container>

    <!-- Dejamos hueco para las opciones -->
    <span class="spacer"></span>
    <mat-card *ngIf="this.showName == true || this.showInstalacion == true">
        <div class="header_status">
            <p *ngIf="this.showName == true">
                ¡ Hola {{this.username}} !
            </p>

            <p *ngIf="this.showInstalacion == true">
                &nbsp;| Instalación: {{this.instalacion}}
            </p>
        </div>
    </mat-card>
    
    <span class="spacer"></span>

 
    <div>

        <!-- Si esta logado y es superAdmin o admin que pueda registrar a gente -->
        <a mat-button *ngIf="isLogged && (['0'].includes(userRol))" routerLink="/register">Registro</a>
        <!-- Si no esta logado que aparezca login -->
        <a mat-button routerLink="/contact">Contacto</a>
        <a mat-stroked-button color="accent" class="log" *ngIf="!isLogged; else viewLogout" routerLink="/login">Login</a>
        
    </div>
</mat-toolbar>

<!-- Si esta logado que me cambie el boton de login por logout-->
<ng-template #viewLogout>
    <a mat-stroked-button color="accent" (click)="onLogout()" class="log">Logout</a>
</ng-template>

