<p>prueba works!</p>

<div class="allpage">

        IMAGEN

    <div class="box-container">
        <div class="box" *ngFor="let c of components" cdkDrag [cdkDragFreeDragPosition]="dragPositionReset"
            (cdkDragEnded)="savePosition($event)" cdkDragBoundary=".allpage">
            <mat-card>
                <button mat-button>
                    <mat-icon>
                        {{c.icon}}
                    </mat-icon>
                </button>
                

                <div class="title">
                    {{c.name}}
                </div>
            </mat-card>

            <button (click)="returnHome(c.name)" class="return">
                <mat-icon>
                    close
                </mat-icon>
            </button>

            <div class="example-handle" cdkDragHandle>
                <svg width="20px" fill="currentColor" viewBox="0 0 24 24">
                    <path
                        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                    </path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </div>
        </div>
    </div>
</div>