

<div class="date_select">
    <div>
        <mat-form-field appearance="fill" class="selectComponente">
            <mat-label>Mis Componentes</mat-label>
            <mat-select>
              <mat-option value="one" (click)="selectComponente(1)">Componente 1</mat-option>
              <mat-option value="two" (click)="selectComponente(2)">Componente 2</mat-option>
            </mat-select>
          </mat-form-field>
    
    </div>
    <button (click)="oneHour()" class="ask" *ngIf="this.componente>0">Una hora</button>
    <button (click)="oneDay()" class="ask" *ngIf="this.componente>0">Un día</button>
    <button (click)="oneWeek()" class="ask" *ngIf="this.componente>0">Una semana</button>

    <mat-form-field appearance="standard" class="range_picker" *ngIf="this.componente">
        <mat-label>Rango de fechas</mat-label>
        <mat-date-range-input [rangePicker]="picker" [max]="maxTime">
            <input matStartDate placeholder="Start date" #dateRangeEnd>
            <input matEndDate placeholder="End date" #dateRangeStart>
        </mat-date-range-input>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker touchUi #picker color="accent">
            <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancelar</button>
                <button mat-raised-button color="primary" matDateRangePickerApply
                    (click)="fechas(dateRangeEnd, dateRangeStart)">Confirmar</button>
            </mat-date-range-picker-actions>
            <!-- <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>  -->
        </mat-date-range-picker>
    </mat-form-field>
</div>

<div class="results">
    <!--     {{minTime}} - {{maxTime}}-->
    <br>
    <!-- <p class="result_filas" *ngIf="filas != 0">Numero de valores: {{filas}}</p> -->
    <p class="result_filas" *ngIf="filas == 0 && action==true">No hay datos disponibles</p>

</div>

<div class="table" [hidden]="filas == 0" id="data">
    <div class="filters">
        <button (click)="getType('humedad')" class="ask">Humedad</button>
        <button (click)="getType('temperatura')" class="ask">Temperatura</button>
        <button (click)="getType('luminosidad')" class="ask">Luminosidad</button>
        <button (click)="getType('')" class="ask">All</button>
    </div>

    <div>
        <table *ngIf="filas!=0" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- Tipo Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <!-- Valor Column -->
            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
            </ng-container>

            <!-- Fecha Column -->
            <ng-container matColumnDef="time_stamp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.time_stamp}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <div class="footer_table">
            <a (click)="exportExcel()">
                <mat-icon class="download"> file_download</mat-icon>
            </a>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
        <br>
        <div class="grafica_toggle">
            <mat-slide-toggle (click)="graficar()" >Grafica</mat-slide-toggle>
        </div>
        
    </div>

</div>

<div *ngIf="this.grafica && (filas != 0 && action==true)" class="graphs">

    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
    </canvas>

</div>