table{
    width: 97%;
    margin: 0 auto;
    margin-top: 1rem;
}

th.mat-sort-header-sorted {
    color: black;
}

.button-edit{
    width: 20%;
    margin-right: 10%;
}
.button-delete{
    width: 20%;
}

p{
    margin-top: 5px;
    margin: 0 auto;
    color: red;
    text-align: center;
    line-height: 100px;
}
