<div class="container-center" >
    <img [src]="url" id="img">   
    <mat-icon class="screen" (click)="openFullScreen()" id="fullscreen">fullscreen</mat-icon>
    <br>

    <div class="container-file">
        <label class="custom-file">
            <mat-icon class="icon">
                file_upload
                <input type="file" (change)="onSelectFile($event)">
            </mat-icon>
         </label>
        
    <!--<mat-icon class="screen" (click)="closeFullScreen()">fullscreen_exit</mat-icon> -->    
    </div>
    <span>Seleccione una imagen</span>
    
     <!--<div [innerHTML]= "this.ejemplo | SafePipe:'html' " runScripts  width="100%" heigth="100%"></div>-->
    <br>
    <!-- {{this.trustHTML}} -->
    <!-- Funciona, pero por la pipe me lleva a la pagina /admin cada 10 segundos este donde este -->
    <div [innerHtml]="this.trustHTML " runScripts class="url" style="margin-left: auto; margin-right: auto;"></div>

    <div class="box-container">
        <div class="box" *ngFor="let c of components" cdkDrag [cdkDragFreeDragPosition]="dragPositionReset" (cdkDragEnded)="savePosition($event)">
            <mat-card>
                <mat-icon>
                    {{c.icon}}
                </mat-icon>
                <div class="title">
                    {{c.name}}
                </div>
            </mat-card>
            
            <button (click)="returnHome()" class="return">
                <mat-icon>
                    close
                </mat-icon>
            </button>
            
            <div class="example-handle" cdkDragHandle>
                <svg width="20px" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
              </div>
        </div>
    </div>
    
    
</div>



