<div class="container-center">
    <img [src]="url"><br>

    <div class="container-file">
        <label class="custom-file">
    <mat-icon class="icon">
        file_upload
        <input type="file" (change)="onSelectFile($event)">
    </mat-icon>
    
    </label>
    </div>
    <div [innerHTML]= "this.ejemplo | SafePipe : 'html' " runScripts></div>
    <span>Seleccione una imagen</span>
    <br>
     {{this.trustHTML}}

    <div [innerHTML]="this.trustHTML | SafePipe : 'html'"></div>
    <!-- <iframe [innerHTML]= "trustHTML" class="respuestaHTML" width="100%" height="450"></iframe>
    <iframe [innerHTML]= "trustHTML" class="respuestaHTML" width="100%" height="450"></iframe> -->

<!--     <div [innerHTML]= "trustHTML | SafePipe : 'html' " runScripts></div>
 -->
</div>


