<div class="container-file">
    <div>
        <mat-form-field appearance="fill" class="selectGranja">
            <mat-label>Mis granjas</mat-label>
            <mat-select>
                <mat-option value="one" (click)="selectGranja(1)">Granja 1</mat-option>
                <mat-option value="two" (click)="selectGranja(2)">Granja 2</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="uploadFile" *ngIf="this.granja>0">
        <label class="custom-file">
            <mat-icon class="icon">
                file_upload
                <input type="file" (change)="onSelectFile($event)">
            </mat-icon>
        </label>
        <br>
        <span>Seleccione una imagen</span>
    </div>
</div>


<mat-icon class="screen" (click)="openFullScreen()" id="fullscreen" *ngIf="this.granja>0">fullscreen</mat-icon>
<div id="container-center" [hidden]="this.granja==0">
    <div class="container_img">
        <img src={{this.url}} id="img" *ngIf="this.done==true">
    </div>

    <!--<div [innerHTML]= "this.ejemplo | SafePipe:'html' " runScripts  width="100%" heigth="100%"></div>-->
    <!-- {{this.trustHTML}} -->
    <!-- Funciona, pero por la pipe me lleva a la pagina /admin cada 10 segundos este donde este -->
    <!-- <div [innerHtml]="this.trustHTML " runScripts class="url" style="margin-left: auto; margin-right: auto;"></div> -->

    <div class="box-container">
        <div class="box" *ngFor="let c of components" cdkDrag [cdkDragFreeDragPosition]="dragPositionReset"
            (cdkDragEnded)="savePosition($event)">
            <mat-card>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>
                        {{c.icon}}
                    </mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="showInfo(c, 'water')">Humedad</button>
                    <button mat-menu-item (click)="showInfo(c, 'thermostat')">Temperatura</button>
                    <button mat-menu-item (click)="showInfo(c, 'wb_sunny')">Luminosidad</button>
                    <button mat-menu-item (click)="goGraphs(c)">Generar gráfica</button>

                    <form [formGroup] = "newName" (ngSubmit)="changeName(c)" id="formChangeName">
                        <mat-form-field id="formChange" >
                            <input matInput formControlName="name" type="text" placeholder="Nuevo Nombre" (click)="$event.stopPropagation();">
                        </mat-form-field>
                        <button [disabled]="newName.invalid" type="submit" mat-raised-button color="primary" id="buttonChange">Cambiar</button>
                    </form>
                </mat-menu>

                <div class="title">
                    {{c.name}}
                </div>
            </mat-card>

            <button (click)="returnHome(c.name)" class="return">
                <mat-icon>
                    close
                </mat-icon>
            </button>

            <div class="example-handle" cdkDragHandle>
                <svg width="20px" fill="currentColor" viewBox="0 0 24 24">
                    <path
                        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                    </path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </div>
        </div>
    </div>
    <button mat-button [matMenuTriggerFor]="menu" id="changeAll" *ngIf="this.granja">
        <mat-icon>
            {{"menu"}}
        </mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changeAll('water')">
                <mat-icon>
                    {{"water"}}
                </mat-icon>
                Humedad
            </button>
            <button mat-menu-item (click)="changeAll('thermostat')">
                <mat-icon>
                    {{"thermostat"}}
                </mat-icon>
                Temperatura
            </button>
            <button mat-menu-item (click)="changeAll('wb_sunny')">
                <mat-icon>
                    {{"wb_sunny"}}
                </mat-icon>
                Luminosidad
            </button>
        </mat-menu>
    </button>

</div>