<mat-accordion>
    <mat-expansion-panel class="card">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Información sobre nosotros.
          </mat-panel-title>
          <!-- <mat-panel-description>
            This is a summary of the content
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quae ullam ex aperiam neque dolores facilis
            quisquam doloremque, facere magnam molestias eligendi, necessitatibus unde totam repudiandae reprehenderit aut
            vitae nobis?
        </p>
    </mat-expansion-panel>


    <mat-expansion-panel class="card">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Información sobre el sistema.
          </mat-panel-title>
          <!-- <mat-panel-description>
            This is a summary of the content
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quae ullam ex aperiam neque dolores facilis
            quisquam doloremque, facere magnam molestias eligendi, necessitatibus unde totam repudiandae reprehenderit aut
            vitae nobis?
        </p>
    </mat-expansion-panel>


    <mat-expansion-panel class="card">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Formulario de contacto.
          </mat-panel-title>
          <!-- <mat-panel-description>
            This is a summary of the content
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-card class="mat-card">
            <mat-card-content>
                <form [formGroup]="contactForm" (ngSubmit)="onContact()">
                    <mat-form-field class="full-width-input">
                        <input matInput formControlName="name" type="text" placeholder="Nombre">
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                        <input matInput formControlName="email" type="email" placeholder="Correo">
                    </mat-form-field>
    <!--                 <mat-form-field class="full-width-input">
                        <input matInput id="text_area" formControlName="data" type="text-area" placeholder="Contacto...">
                    </mat-form-field> -->
                    <mat-form-field class="full-width-input">
                        <textarea matInput id="text_area" formControlName="data" type="text-area" placeholder="Comentario, queja o sugerencia" maxlength="500"></textarea>
                    </mat-form-field>
    
                    <button [disabled]="contactForm.invalid" mat-raised-button color="primary">Enviar</button>
    
                </form>
            </mat-card-content>
        </mat-card>
    </mat-expansion-panel>


</mat-accordion>
