.login-form{
    padding: 4rem 1rem;

}
.mat-card{
    max-width: 300px;
    margin: 2rem auto;
    text-align: center;
    height: 450px;
}
.full-width-input{
    width: 100%;
}

button{
    margin-top: 15px;
    width: 100%;
}

p{
    margin-top: 5px;
    color: red;
}