<div class="register-form">
    <mat-card class="mat-card">
        <mat-card-content>
            <h1>Registro</h1>
            <form [formGroup] = "registerForm" (ngSubmit)="onRegister()">
            <mat-form-field class="full-width-input">
                <input matInput formControlName="name" type="text" placeholder="Nombre" >
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput formControlName="lastname" type="text" placeholder="Apellidos" >
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput formControlName="username" type="text" placeholder="Usuario" >
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput formControlName="password" [type] = "hide ? 'password' : 'text'" placeholder="Contraseña" >
                <button mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>
                        {{ hide ? "visibility_off" : "visibility" }}
                    </mat-icon>
                </button>
                <mat-error *ngIf="isValidField('password')">
                    {{getErrorMessage('password')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="rol">
                    <mat-option value="0">Super Admin</mat-option>
                    <mat-option value="1">Administrador</mat-option>
                    <mat-option value="2">Trabajador</mat-option>
                </mat-select>
            </mat-form-field>
            <button [disabled]="registerForm.invalid" mat-raised-button color="primary">Registrarse</button>
            <p *ngIf="errorRegister">El nombre de usuario no está disponible</p>
        </form>
        </mat-card-content>
        
    </mat-card>
</div>