<div class="login-form">
    <mat-card class="mat-card">
        <mat-card-content>
            <h1>Login</h1>
            <form [formGroup] = "loginForm" (ngSubmit)="onLogin()">
            <mat-form-field class="full-width-input">
                <input matInput formControlName="username" ype="text" placeholder="Usuario" required>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput formControlName="password" [type] = "hide ? 'password' : 'text'" placeholder="Contraseña" required>
                <button mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>
                        {{ hide ? "visibility_off" : "visibility" }}
                    </mat-icon>
                </button>
            </mat-form-field>
            <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">Iniciar sesion</button>
        </form>
        </mat-card-content>
    </mat-card>
</div>
