<div class="login-form">
    <mat-card class="mat-card">
        <mat-card-content>
            <h1>Login</h1>
            <mat-form-field class="full-width-input">
                <input matInput type="text" placeholder="Usuario" required>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="Contraseña" required>
            </mat-form-field>
            <button mat-raised-button color="primary">Iniciar sesion</button>
        </mat-card-content>
    </mat-card>
    
</div>
